# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# Android related
android/.gradle/
android/app/build/
local.properties

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# VS Code related
.vscode/

# macOS related
macos/Flutter/ephemeral/

# Web related
web/.dart_tool/
web/.packages

# Linux related
linux/flutter/ephemeral/

# Windows related
windows/flutter/ephemeral/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws

# Others
.DS_Store
*.log